* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #101010 #292229;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #292229;
}

*::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 20px;
  border: 3px solid #292229;
}
